* {
    box-sizing: border-box;
}
/*-- body styling  --*/
body {

background-color: #454e57;
font-family: 'Roboto Condensed', sans-serif; 

}

.main_container {

	display: flex;
	flex-direction:column;	
	width: 80%;
	height:auto;
	/* border: 1px solid lightgrey; */
	
	top:0;
	bottom: 0;
	margin: auto;
	
}


.header_container {

top:0;
bottom: 0;
margin: auto;
margin-bottom: 20px;

}

h1 {

	color:#eaeef7;
	font-weight: bold;
	text-align: center;
	margin:0px;
	padding:0px;
	
}

h3 {

	color:#eaeef7;
	font-weight: bold;
	text-align: center;
	margin:0px;
	padding:0px;
	padding:0px 0px 5px 0px;
	text-align:left;
	margin-top: 20px;
	margin-bottom: 20px;
}

h6 {

	color:#bec5cb;
	margin:0px;
	margin-top: 20px;
	margin-bottom: 20px;
	
 }


 h5 {

	color:#bec5cb;
	margin-top: 20px;
	margin-bottom: 20px;

	
 }
 .myline { 
	
border: 0 none;
border-top: 2px solid #218db1; 
background: none; 
height: 0;

}

 .text-style-1 {

	text-align: center; 
    margin:0px;
	padding:0px;
	
 }

 .alignleft h3 {

	text-align:left;
 }


 .alignleft2 {

	text-align:left;
	margin-top: 20px;
 }
 /* Form styling */

input[type="text"]
{
    border: 0;
	border-bottom: 1px solid #bec5cb;
	background: transparent;
	outline: 0;
	margin-top: 20px;
	margin-bottom: 20px;


}

.inputTxt_2 {

	width:70%;
	margin-bottom: 20px;
}
.inputTxt_3 {

	width:24%;
	margin-bottom: 20px;
}	 
.inputTxt_1 {

	width:100%;
	margin-bottom: 20px;
}

input[type=submit] {
    background-color: #1cb2e4;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

textarea {
	width: 100%;
	padding: 5px;
	background: transparent;
	border: 1px solid #ccc;
	height:200px;
	margin-bottom: 20px;
}


input, textarea,textarea:focus, input:focus {
	color: white;
	outline: 0;
	font-weight: bold;
}

/* Styling the radion buttons */
.customlabel {
	width:25%;
	height: 40px;
	color:white;
	padding:10px;
	margin:0px;
	background: transparent;
	border: 1px solid #ccc;
	text-align: center;
}

input[type="radio"] {
	background: transparent;
	border: 1px solid #ccc;
    opacity:0.011;
	z-index:10;
	margin:0px;
}

input[type="radio"]:checked + label {
	background:#1cb2e4;
	border: 0px;
	margin:0px;
}

input[type="radio"]:hover + label {
	background:#1cb2e4;
	border: 0px;
	margin:0px;
}


/* Styling the checkbuttons buttons */
.wrapperchek{
    /* width:40%; */
	display:flex;
	flex-direction:row;	
	
}

.customlabel1 {

	display:inline-block;
	padding:10px;
	background: transparent;
	color:#bec5cb;
	

}

input[type="checkbox"] {
	
	display:inline-block;
	-webkit-appearance: none;
	width:30px;
	height:30px;
	/* background: transparent; */
	border: 1px solid #ccc;

}

input[type="checkbox"]:checked  {
	background:#1cb2e4;
	width:30px;
	height:30px;
	border: 0px; 
}

input[type="checkbox"]:hover  {
	background:#1cb2e4;
	width:30px;
	height:30px;
	border: 0px;
}


.checkContainer{

	width:40%;
}



.contentJustifier{
	display: flex;
	justify-content:space-between;
	
}

input,textarea{
  caret-color: white;
}

.flex-container1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

  }
  
  .flex-container > div {
	width:45%;
  }

